%ul
  %li
    = new_link_to("El An&oacute;n","/index")
  %li
    = new_link_to("Restaurante / Bar","/restaurante")
  %li
    = new_link_to("Hostal","/hostal")
  %li
    = new_link_to("Entorno","/entorno")
  %li
    = new_link_to("Reservas","/reservas")